# Development artifacts
node_modules

# Build artifacts
/.cache
/build
/public/build

# Has secrets, should never be committed
.env

# Mac OS nonsense
**/.DS_Store

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# JetBrains IDE files
.idea/
